/* body {
    background-image: url("./assets/images/ring.jpg");
} */

h1 {
    font-family: 'MedievalSharp', cursive;
    color: black;
    font-size: 45px;
    text-align: center;
}

.btn-primary {
    margin-left: 10px;
    background: yellow;
    color: orangered;
}

.form-control {
    width: 30%;
}

#add {
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    color: black;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
}